.movieWrapper {
  display: flex;
  margin: 15px 0;
}

.movieContentWrapper {
  margin-left: 15px;
}
.movieImg {
  border-radius: 5px;
}

.descrTitle {
  font-size: 18px;
}
.releaseDate {
  font-weight: 400;
}
