.searchForm {
  display: flex;
  align-items: center;
}
.searchInput {
  margin-right: 25px;
  height: 30px;
  &:focus {
    outline: 1px solid #234b31;
  }
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 30px;
  padding: 10px 15px;
  border: 1px solid #234b31;
  border-radius: 5px;
  letter-spacing: 0.03em;
  color: white;
  background-color: #234b31;
  transition: scale 250ms ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
